.faixa{
    margin: 0;
    background: #1F8399;
    height: 300px;
   width: max-content;
    
}
#faixah4{
    margin: 20px;
    margin-top: 80px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    padding: 20px;
    color: #DFE5EE;
    
}
